template(name="peopleList")
  if filterLetter
    .mb-3
      .d-flex.justify-content-between.align-items-center.mb-2
        .filter-letter-heading #{filterLetter}
        div
          button.people-list-back(onclick="javascript:history.back()")
            i.fa.fa-chevron-left
            | back

  table.people-list
    each people
      +personListItem

template(name="personListItem")
  tr.person-list-item(data-friendly-id=friendlyId)
    td.person-list-item-name= name
    td.person-list-item-buttons
      if paid
        span.cash-paid-icon
          i.fa.fa-check
      else
        if currentUser
          button(class='pay-cash-button')= payWithCashIcon
        else 
          a(href=payPath class='paypal-pay-button')
            i.fa.fa-paypal
